*{
    padding: 0;
    margin:  0;
    box-sizing: border-box;
    font-family: sans-serif;
    overflow: hidden;
    font-family: 'Inclusive Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
}
.color-change-2x {
    animation: color-change-2x 5s linear infinite alternate both;
  }
  @keyframes color-change-2x  {
    0% {
      background: violet;
    }
    100% {
      background: purple;
    }
  }
  h1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10vh;
    font-size: 4.2rem;
    text-shadow: 0 0 10px #333333;
  }
.text-focus-in {
	-webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	        animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
 @-webkit-keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  @keyframes text-focus-in {
    0% {
      -webkit-filter: blur(12px);
              filter: blur(12px);
      opacity: 0;
    }
    100% {
      -webkit-filter: blur(0px);
              filter: blur(0px);
      opacity: 1;
    }
  }
  
.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: 18vh;
}
.calculator{
    position: relative;
    height: auto;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 30px #333333;
    background-color: #e3f2fd;
    margin-top: -10em;
    #display{
        background-color: #388e3caf ;
        border-radius: 5%;
        color: #333333;
        margin: 0 10px;
        height: 120px;
        width: auto;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        font-size: 45px;
        margin-bottom: 20px;
        font-weight: 600;
    }
    #clear{
        background-color: #e57373;
        color: white;
    }
    .btn-number{
        background-color: #ffb74d;
        color: white;
    }
    .btn-operator{
        background-color: #4fc3f7;
        color: white;
    }
    .btn-equal{
        background-color: #81c784;
        color: white;
        height: 130px;
        border-radius: 30px;
    }
    &.dark{
        background-color: #111;
        #display{
            background-color: hsla(123, 43%, 39%, 0.664);
            color: #fff;
        }
        #clear{
            background-color: purple;
            color: white;
        }
        .btn-number{
            background-color: rgb(56, 56, 56);
            color: white;
        }
        .btn-operator{
            background-color: cyan;
            color: #333333;
        }
        .btn-equal{
            background-color: violet;
            color: white;
            height: 130px;
            border-radius: 30px;
    }
}
.theme-toggler{
    position: absolute;
    top: 30px;
    right: 30px;
    color: #3333;
    cursor: pointer;
    z-index: 1;
    &::before{
        content: '';
        position: absolute;
        height: 30px;
        width: 30px;
        top: 50%;
        transform: translate(-50%, -50%);
        background-color: #333;
        z-index: 1;
        border-radius: 50%;
    }
}
.theme-toggler.active{
    color: #333;
    &::before{
        background-color: #ffff;
    }
}
button{
    height: 60px;
    width: 60px;
    border: 0;
    border-radius: 50%;
    margin: 5px;
    font-size: 20px;
    cursor: pointer;
    transition: all 200ms ease;
    &:hover{
        transform: scale(1.1);
    }
}
}